<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <%- include('../partials/links');%>
            <div class="jumbotron">
                <p align="center">Flights Overview</p>

            </div>
        </div>

        <div class="container-fluid text-center">
            <div class="row align-items-start">
                <div class="col"
                style="border: 1px solid red">
                    Airplane
                </div>
                <div class="col"
                style="border: 1px solid red">
                    Model
                </div>
                <div class="col"
                style="border: 1px solid red">
                    Capacity
                </div>
                <div class="col"
                style="border: 1px solid red">
                    Departing
                </div>
                <div class="col"
                style="border: 1px solid red">
                    Arriving
                </div>
                <div class="col"
                style="border: 1px solid red">
                    Date
                </div>

            </div>
            <form action="/processdynamicform" method="post">

                <% if (locals.flights) {%>

                    <% locals.flights.forEach(function(data) {%>

                    <div class="row align-items-start" >
                        <div class="form-check" >
                            <input type="checkbox" id="id" name=<%=data.id%>  >
                        </div>
                        <div class="col" style="border: 1px solid red">
                            <%= data.Airplane%>
                        </div>
                        <div class="col" style="border: 1px solid red">
                            <%= data.Model%>
                        </div>
                        <div class="col" style="border: 1px solid red">
                            <%= data.Capacity%>
                        </div>
                        <div class="col" style="border: 1px solid red">
                            <%= data.Departing%>
                        </div>
                        <div class="col" style="border: 1px solid red">
                            <%= data.Arriving%>
                        </div>
                        <div class="col" style="border: 1px solid red">
                            <%= data.Date%>
                        </div>
                    </div>


                        <%})%>

                <%}%>

            <input type="submit" class="btn btn-info" value="Delete Flight">
            </form>


        </div>



    </main>

    <footer>

    </footer>

</body>

</html>