<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <div class="jumbotron">
                <p align="center">Flights Overview</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <ul>
                        <% if (locals.data) { %>

                            <% locals.data.forEach(function(data) { %>
                                <div class="row">
                                    <div class="col-3"> <%= data.planeid%></div>
                                    <div class="'col-3"><%= data.airportfromid%></div>
                                    <div class="'col-3"><%= data.airporttoid%></div>
                                    <div class="'col-3"><%= data.date%></div>
                                </div>

                            <%})%>
                        <%}%>



                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>